motor
tldextract
scrapy
scraping==0.0.3
beautifulsoup4==4.8.1
docx==0.2.4
docx2txt==0.8
docxpy==0.8.5
fpdf==1.7.2
lxml==4.6.3
Pillow>=6.2.2
PyPDF2==1.27.9
soupsieve==1.9.5
textract==1.6.3
yattag==1.12.2
